.section{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 5px #00C2FF solid;
}

.divp{
    display: flex;
    flex-direction: row;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-around;
}

.divInfo{
    width: 30%;
    text-align: center;
    box-shadow: 5px 3px 3px 5px;
}