.contenedor{
    background-color: rgb(3, 155, 130);
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5.1%;
}

.contenedorRedes{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divR{
    width: 29%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imgRedes{
    width: 30%;
}

.mstR{
    color:white;
    font-size: 300%;
}

.caption{
    font-size: 250%;
}